<h2>{{district.district_name}}'s Profile</h2>

{{!-- district LOGO COULD GO HERE; ADD AS ANOTHER PART OF THE MODEL, WHICH CAN BE NULL --}}
<ul>
    <li>District Name: {{district.district_name}}</li>
    <li>District Math Requirement: {{district.math_credit_to_graduate}}</li>
</ul>

<a href="/edit-district/{{district.id}}">
    <button class="btn btn-info">Edit District</button>
</a>

<button class="btn btn-danger" style="margin-left: 20%; margin-right:20%" id="delete-district">Delete District</button>

<script src="/js/delete-district.js"></script>