<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    
    <title>GradRight</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark text-white justify-content-end">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li> 
            <li class="nav-item">
                {{#if loggedIn}}
                    <a class="nav-link" href="/logout" id="logout">Log Out</a>
                {{else}}
                    <a class="nav-link" href="/login">Login</a>
                {{/if}}
            </li>
            <li class="nav-item">
                <a class="nav-link color: teal">Admin | GradRight</a>
            </li>
        </ul>
    </nav>
    
        <div class="jumbotron">
            <h1 class="display-4">GradRight</h1>
            
            {{{body}}}

            {{#if loggedIn}}
                <script src="../../public/js/logout.js"></script>
            {{/if}}
        </div>
    
</body>
</html>