<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {{!-- <link rel="stylesheet" type="text/css" href="/css/jass.css"> --}}
    
    <title>GradRight</title>
</head>

<body>
<<<<<<< HEAD
    <div class="container-fluid">
        <ul class="nav justify-content-end tex-warning">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page"  href="/"><strong>Home</strong></a>
            </li>
            <li class="nav-item">
                {{#if logged_in}}
                    <a class="nav-link" href="/logout" id="logout"><strong>Log Out</strong></a>
                {{else}}
                    <a class="nav-link" href="/login"><strong>Login</strong></a>
                {{/if}}
            </li>
            <li class="nav-item"></li>
                <p style="margin-top: 8px; margin-left: 5px;"> <strong>Admin | GradRight</strong></p>
            </li>
            </li>
        </ul>
    
=======
 
>>>>>>> 2ba852cf815a7a689d250b0084054d7255a2c532
    </div>
    {{{body}}}

    {{#if loggedIn}}
        <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>