<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    
    <title>GradRight!</title>
</head>

<body>
    <div>
    <nav>
        <a href="/">Home</a>
        {{#if logged_in}}
            <a href="/logout" id="logout">Log Out</a>
        {{else}}
            <a href="/login">Login</a>
        {{/if}}
    </nav>
    <h1>GradRight</h1>
    </div>

    {{{body}}}

    {{#if logged_in}}
        <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>