<div class="col-sm-6 col-md-12">
  <h2>Add A Student</h2>

  <form class="form student-form">
    <div class="form-group">
      <label for="stu-name">Name:<span style="color:red">*</span></label>
      <input class="form-input" type="text" id="stu-name" />
    </div>

    <div class="form-group">
      <label for="stu-id">Student ID#:<span style="color:red">*</span></label>
      <input class="form-input" type="text" id="stu-id" />
    </div>

    <div class="form-group">
      <label for="district">District:<span style="color:red">*</span></label>
      <select id="district">
        {{#each districts}}
        <option value="{{id}}">{{district_name}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label for="school">School Name:<span style="color:red">*</span></label>
      <input class="form-input" type="text" id="school" />
    </div>

    <div class="form-group">
      <label for="year">Current Year:<span style="color:red">*</span></label>
      <select id="year">
        <option value='9'>9th</option>
        <option value='10'>10th</option>
        <option value='11'>11th</option>
        <option value='12'>12th</option>
      </select>
    </div>

    <div class="form-group">
      <label for="math">Current Math Credit(s):<span style="color:red">*</span></label>
      <input class="form-input" type="text" id="math" />
    </div>

    <div class="form-group">
      <label for="math">Current English Credit(s):<span style="color:red">*</span></label>
      <input class="form-input" type="text" id="eng" />
    </div>

    <div class="form-group">
      <label for="math">Current Science Credit(s):<span style="color:red">*</span></label>
      <input class="form-input" type="text" id="sci" />
    </div>

    <div class="form-group">
      <label for="math">Current Social Studies Credit(s):<span style="color:red">*</span></label>
      <input class="form-input" type="text" id="ss" />
    </div>

    <div class="form-group">
      <label for="math">Current Physical Education Credit(s):<span style="color:red">*</span></label>
      <input class="form-input" type="text" id="pe" />
    </div>

    <div class="form-group">
      <label for="math">Current Health Credit(s):<span style="color:red">*</span></label>
      <input class="form-input" type="text" id="health" />
    </div>

    <div class="form-group">
      <label for="math">Current Elective Credit(s):<span style="color:red">*</span></label>
      <input class="form-input" type="text" id="elective" />
    </div>

    <p>Click on the "Choose File" button to upload an image for the student:</p>
    <form action="/action_page.php">
      <input type="file" id="profile" name="filename">
    </form>


{{!-- WORKS BUT LOTS OF ERRORS --}}
<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>
    <script type="text/javascript">
      var picture;
      
      var myWidget = cloudinary.createUploadWidget({
        cloudName: 'dxhp3w7sg',
        uploadPreset: 'h2bkr71w'
      }, (error, result) => {
        if (!error && result && result.event === "success") {
          console.log('Done! Here is the image info: ', result.info);

          picture = result.info.secure_url
          console.log(picture);
        }
        console.log('ERRRRRR', error)
      })
      document.getElementById("profile").addEventListener("click", function (event) {
        event.preventDefault()
        console.log('UPload image clicked!!!')
        myWidget.open();
      }, false);
    </script><br>
{{!-- end of script --}}

    <div class="form-group">
      <button class="btn btn-success" style="margin-top: 20px" id="add-stu-btn">Add Student</button>
    </div>

  </form>
  <div class="d-flex justify-content-end">
    <a href="/student"><button class="btn btn-secondary">Back to Students</button></a>
  </div>
</div>

<script src="/js/add-student.js"></script>
{{!-- 
<script src="/js/img-upload.js"></script>
<script src="https://upload-widget.cloudinary.com/global/all.js"></script> --}}