<div class="col-md-6">
    <h2>Add District</h2>

    <form class="form" id="district-data">
        <div class="form-group">
            <label for="district-name">District Name:</label>
            <input class="form-input" type="text" id="district-name" />
        </div>

        <div class="form-group">
            <label for="math">District Math Requirement: </label>
            <input class="form-input" type="text" id="math" />
        </div>

        <div class="form-group">
            <button class="btn btn-primary" id="add-btn">Add District</button>
        </div>

    </form>
</div>

<a href="/district" class=" d-flex justify-content-end" style="margin: 20px"><button class="btn btn-secondary">Back to
        Districts</button></a>

<script src="/js/add-district.js"></script>