<h1 class="display-4">Districts</h1>
{{!-- district drop down --}}
<div class="dropdown" style="margin-top: 30px">
        <div class="form-group district-form">
            <label for="district">District:</label>
            <select id="district">
                <option>Districts</option>
                {{#each districts}}
                <option value="{{id}}">{{district_name}}</option>
                {{/each}}
            </select>
        </div>
</div>

<a href="/add-district"><button type="button" class="btn btn-success btn-lg" style="margin-top:15px">Add District</button></a>


{{#if show_district}}
<div id="displayData" class="col-lg-8" style="margin:20px; border:solid; border-radius:10px; background-color:white;">
    {{> district-requirements}}
</div>
{{/if}}


{{!-- <script src="../public/js/dropdown.js"></script> --}}
<script src="/js/district-dash.js"></script>