    {{!-- district drop down --}}
    <div id="dropdown" class="col-lg-8">
        <button onclick="districtDropdown()" class="dropbtn">District</button>
            <div id="districtDropdown" class="dropdown-content">
                {{#each districts}}
                    <a href="/api/district/{{id}}">{{district_name}}</a>
                {{/each}}
        </div>
    </div>


    <div id="displayData" class="col-lg-8">
        {{!-- IF TIME, SHOW DATA HERE INSTEAD --}}
    </div>

    <a href="/add-district"><button class="btn btn-info">Add District</button></a>

<script src="/js/dropdown.js"></script>