<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">

            
                <h1 class="display-4">Districts</h1>
                {{!-- district drop down --}}
                <div class="dropdown" style="margin-top: 30px">
                        <div class="form-group district-form">
                            <label for="district" style="font-size:x-large">District:</label>
                            <select id="district" style="font-size:x-large">
                                <option>Districts</option>
                                {{#each districts}}
                                <option value="{{id}}">{{district_name}}</option>
                                {{/each}}
                            </select>
                        </div>

                <a href="/add-district"><button type="button" class="btn btn-success btn-lg" style="margin-top:15px">Add District</button></a>
            </div>

            </div>
            <div class="col-lg-6" style="margin-top:15px">
                {{#if show_district}}
                <div id="displayData" style="border:solid; border-radius:10px; background-color:white; padding:20px;">
                    {{> district-requirements}}
                </div>
                {{/if}}
                </div>
        </div>
    </div>
</div>
{{!-- <script src="../public/js/dropdown.js"></script> --}}
<script src="/js/district-dash.js"></script>