    {{!-- district drop down --}}
    <div class="dropdown">
          {{!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Districts</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> --}}
                {{#each districts}}
                    <a class="dropdown-item" href="/api/district/{{id}}">{{district_name}}</a>
                {{/each}}
            {{!-- </div> --}}
    </div>


    <div id="displayData" class="col-lg-8">
        {{!-- IF TIME, SHOW DATA HERE INSTEAD --}}
    </div>

    <a href="/add-district"><button class="btn btn-info" style="margin-top:15px";>Add District</button></a>

<script src="../public/js/dropdown.js"></script>