     <h1 class="display-4">GradRight</h1> 

    {{#if logged_in}}   
    <h3>Which data would you like to view?</h3>

    <div class="d-flex">
        <a href="/district"><button>District</button></a>
        <a href="/student"><button>Student</button></a>
    </div>


    {{else}}
        <h2>Please Login <a href="/login">Here</a></h2>
    {{/if}}

  