    

    {{#if logged_in}}   
    <h3>Which data would you like to view?</h3>

    <div class="d-flex">
        <button type="button" style="margin-top: 20px; margin-right: 20px; padding: 15px" class="btn btn-success"><a class="text-light" href="/district">District</a></button>
        <button type="button" style="margin-top: 20px; padding: 15px" class="btn btn-success"><a class="text-light" href="/student">Student</a></button>
    </div>


    {{else}}
        <h2>Please Login <a href="/login">Here</a></h2>
    {{/if}}

  