     <h1 class="display-4">GradRight 🎓</h1> 
    <div class="d-flex">
     <p style="width:50%">
         The complete guide to keeping track of all of your students. GradRight is created with the intention of helping alternative schools and programs 
         with tracking their students' graduation requirements. Based on the many districts and schools, educators may have trouble remembering or 
         documenting often-changing requirements. GradRight makes it easy by having all districts and students in one place. Student data is automatically 
         compared to the district requirements, and GradRight will indicate whether that student is ready to graduate or not. All the Admin-User needs to 
         do is input these district requirements and the student information, which is retained in the GradRight database.
     </p>

    <div style="margin-left:50px">
    {{#if logged_in}}   
    <h3>Which data would you like to view?</h3>

    <div class="d-flex">
        <a href="/district"><button type="button" class="btn btn-success btn-lg" style="margin-top: 20px; margin-right: 20px;">District</button></a>
        <a href="/student"><button type="button" class="btn btn-success btn-lg" style="margin-top: 20px">Student</button></a>
    </div>


    {{else}}
        <h2>Please Login <a href="/login">Here</a></h2>
    {{/if}}
    </div>
  </div>