<div>
    <h2 style="text-align: center;">{{student.student_name}}'s Profile</h2>

    <div class="d-flex justify-content-center">
        <div class="d-flex flex-column">
            <img src="../assets/profile.png" alt="unknown profile head" style="height:250px; border:solid" /><br>
            <button class="btn btn-danger" style="margin-left: 20%; margin-right:20%" id="delete-stu">Delete Student</button>

        </div>

        <ul id="stu-data">
            {{> student-data student}}
            <br>
            {{!-- <a href="/edit"> --}}
            <button type="submit" class="btn btn-info" id="edit-stu">Edit Student</button>
            {{!-- </a> --}}
        </ul>
    </div>
</div>

<a href="/student" class=" d-flex justify-content-end" style="margin: 20px"><button class="btn btn-secondary">Back to Students</button></a>

<script src="/js/delete-student.js"></script>
<script src="/js/edit-student.js"></script>